--extra-index-url https://download.pytorch.org/whl/cu118
matplotlib
numpy
opencv_python
Pillow
pynrrd
scikit_learn
scipy
imagecodecs
scikit-image
tifffile
torch
torchvision
ultralytics
sahi
pyqt6
napari
SimpleITK